port = 6699

##############################
#         DataBase           #
##############################

[DB]
host = 'host'
user = 'user'
password = '*********'
database = 'database'


##############################
#         Radiacmeter        #
##############################

##### Kyiv #######
[city.Kyiv]
ip = '304.109.134.13'


